body{
    font: 20px arial, sans-serif;
}

.navbar{
    background-color: #E1F5A9;
    font-size: 22px;
}

.quem-somos{
    background-color: #084B8A;
    color:white;
}

.o_parceiros{
    background-color: #81F781;
    color:white;
}

.o_servicos{
    background-color: #F4FA58;
    color:white;
}

.margin{
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-nav{
    padding: 0px 50px;
}

.bg-footer{
    background-color: black;
    color: white;
}